.hero{
    /* aspect-ratio: 16/6;
} */
    object-fit:contain;
    max-width: 95%;
    /* max-height: %%; */
    width: auto;
    height: auto;
    margin:auto;
 }


    /* aspect-ratio: ;
    max-width: 95%;
    max-height: 25%;
    margin:2%;

} */